@charset "UTF-8";
/********************
¡MIXINS
********************/
/********************
¡CLASSES
********************/
.lk-clear:after, .lk-squeeze:after {
  display: block;
  font-size: 0;
  content: " ";
  clear: both; }

.lk-squeeze {
  position: relative;
  margin: 0 auto;
  padding: 0 20px;
  width: 100%;
  height: 100%;
  max-width: 1000px; }
  @media screen and (max-width: 649px) {
    .lk-squeeze {
      padding: 0 10px; } }

.show-mobile-inline,
.show-mobile-block {
  display: none !important; }

@media screen and (max-width: 767px) {
  .show-mobile-inline {
    display: inline-block; } }

@media screen and (max-width: 767px) {
  .show-mobile-block {
    display: block !important; } }

@media screen and (max-width: 649px) {
  .hide-mobile {
    display: none; } }

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/**
 * Add/remove margins
 */
.push {
  margin: 20px !important; }

.push--top {
  margin-top: 20px !important; }

.push--right {
  margin-right: 20px !important; }

.push--bottom {
  margin-bottom: 20px !important; }

.push--left {
  margin-left: 20px !important; }

.push--ends {
  margin-top: 20px !important;
  margin-bottom: 20px !important; }

.push--sides {
  margin-right: 20px !important;
  margin-left: 20px !important; }

.push-half {
  margin: 10px !important; }

.push-half--top {
  margin-top: 10px !important; }

.push-half--right {
  margin-right: 10px !important; }

.push-half--bottom {
  margin-bottom: 10px !important; }

.push-half--left {
  margin-left: 10px !important; }

.push-half--ends {
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

.push-half--sides {
  margin-right: 10px !important;
  margin-left: 10px !important; }

.flush {
  margin: 0 !important; }

.flush--top {
  margin-top: 0 !important; }

.flush--right {
  margin-right: 0 !important; }

.flush--bottom {
  margin-bottom: 0 !important; }

.flush--left {
  margin-left: 0 !important; }

.flush--ends {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.flush--sides {
  margin-right: 0 !important;
  margin-left: 0 !important; }

/**
 * Add/remove paddings
 */
.pad {
  padding: 20px !important; }

.pad--top {
  padding-top: 20px !important; }

.pad--right {
  padding-right: 20px !important; }

.pad--bottom {
  padding-bottom: 20px !important; }

.pad--left {
  padding-left: 20px !important; }

.pad--ends {
  padding-top: 20px !important;
  padding-bottom: 20px !important; }

.pad--sides {
  padding-right: 20px !important;
  padding-left: 20px !important; }

.pad-half {
  padding: 10px !important; }

.pad-half--top {
  padding-top: 10px !important; }

.pad-half--right {
  padding-right: 10px !important; }

.pad-half--bottom {
  padding-bottom: 10px !important; }

.pad-half--left {
  padding-left: 10px !important; }

.pad-half--ends {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.pad-half--sides {
  padding-right: 10px !important;
  padding-left: 10px !important; }

/**
* Floats  
*/
.none {
  float: none !important; }

.pull--right {
  float: right !important; }

.pull--left {
  float: left !important; }

.clear {
  display: block;
  float: none;
  clear: both; }

/**
* Centering elements
*/
.center--vertical {
  vertical-align: middle; }

.center--horizontal {
  margin: 0 auto;
  display: block; }

.text--center {
  text-align: center !important; }

.text--left {
  text-align: left !important; }

.text--right {
  text-align: right !important; }

/*------------------------------------*\
              ¡BUTTONS
\*------------------------------------*/
.btn {
  border: solid .125em;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 700;
  padding: .625em 1em;
  text-transform: uppercase; }
  .btn.btn-lg {
    font-size: 1.5rem; }
  .btn.btn-md {
    font-size: 1.25rem; }
  .btn.btn-sm {
    font-size: 1rem; }
  .btn.color-1 {
    background: #3498db;
    border-color: #3498db; }
    .btn.color-1.hollow {
      background: transparent;
      color: #3498db; }

/*------------------------------------*\
                ¡ICONS
\*------------------------------------*/
/*------------------------------------*\
              ¡TYPOGRAPHY
\*------------------------------------*/
html {
  font-size: 16px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2.25rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.75rem; }

h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1.25rem; }

/*------------------------------------*\
              ¡FORMS
\*------------------------------------*/
.input-group {
  margin: 20px 0 0; }
  .input-group .label {
    display: block;
    color: #000000; }
  .input-group .input {
    border: solid 1px #000000;
    display: block;
    font-size: 1rem;
    height: 40px;
    padding: 0 5px;
    width: 100%; }
  .input-group .textarea {
    border: solid 1px #000000;
    display: block;
    font-size: 1rem;
    height: 150px;
    max-height: 150px;
    max-width: 100%;
    padding: 5px;
    width: 100%; }
  .input-group .checkbox {
    cursor: pointer;
    display: inline-block;
    padding-left: 24px;
    position: relative; }
    .input-group .checkbox input {
      position: absolute;
      opacity: 0;
      z-index: -1; }
    .input-group .checkbox span {
      border: solid 1px #000000;
      display: block;
      height: 20px;
      left: 0;
      position: absolute;
      top: 0;
      width: 20px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .input-group .checkbox input:checked ~ span {
      background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAYAAAAeP4ixAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAATtJREFUeNrs18sNgzAMBuCECbpE7z10ATaht47UW7tJF+iBe5foCAUUUEp5JI6xHeRfQgiQiL9DwDZGo9FopOZ8ex/aw79nc0Q0p6e7LF/X4yc7iIc4uVt1j7EZI4yPsZkjBkyxA0QHsTtAPJo9crF7QIj9asUiREIgCHEQKEIUJAUhBpKKEAHBQLBDsBCsEEwEGwQbwQLZAkEO2QrxB2kWurdnyIs4ET8Qh6hSX8iBGCAjhMHEUCA6yAwCZQEqRJtiZZGq3zeSET2kdAM8GoYa4e8RtIU5EOOvVnIBXIip/wi4EE7E5J8dUhA3YrZFiSlMAmKx1wot0D1nRaw2jYEYw40I6n4TMGSI4DYegCFFRM0jERhyRPRgFYBhQYAmxAUMGwI86k5gWBFJM7uHqbkRWCOsRqPR0OUrwADU0PN/fzhQbgAAAABJRU5ErkJggg==");
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: 16px; }
  .input-group .radio {
    position: relative;
    display: block;
    padding-left: 24px;
    cursor: pointer; }
    .input-group .radio input {
      position: absolute;
      opacity: 0;
      z-index: -1; }
    .input-group .radio span {
      border: solid 1px #000000;
      border-radius: 50%;
      display: block;
      height: 20px;
      left: 0;
      position: absolute;
      top: 0;
      width: 20px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    .input-group .radio input:checked ~ span {
      background: transparent; }
    .input-group .radio input:checked ~ span:after {
      background: #3498db;
      border-radius: 50%;
      content: '';
      display: block;
      height: 12px;
      left: 3px;
      position: absolute;
      top: 3px;
      width: 12px;
      z-index: 1; }
  .input-group .select {
    border: solid 1px #000000;
    display: inline-block;
    position: relative;
    width: 100%; }
    .input-group .select select {
      background: #FFFFFF;
      border: 0;
      border-radius: 0;
      cursor: pointer;
      display: inline-block;
      font-size: 1rem;
      height: 40px;
      line-height: 1.5;
      margin: 0;
      padding: 5px 35px 5px 10px;
      outline: 0;
      width: 100%;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none; }
    .input-group .select:after {
      border-color: #3498db;
      border-style: solid;
      border-width: 2px 2px 0 0;
      content: '';
      display: inline-block;
      height: 16px;
      right: 10px;
      position: absolute;
      top: 5px;
      transform: rotate(135deg);
      width: 16px; }

/*------------------------------------*\
                ¡LINKS
\*------------------------------------*/
.link {
  cursor: pointer;
  text-decoration: none; }
  .link.color-1 {
    color: #3498db; }
    .link.color-1:link, .link.color-1:visited {
      color: #3498db; }
    .link.color-1:hover, .link.color-1:active {
      text-decoration: underline; }

/*------------------------------------*\
              ¡GENERAL
\*------------------------------------*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased; }

.lk-content {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative; }

/*------------------------------------*\
                ¡HEADER
\*------------------------------------*/
header {
  height: 100px; }

/*------------------------------------*\
                ¡FOOTER
\*------------------------------------*/
footer {
  height: 100px; }

/*------------------------------------*\
               STYLEGUIDE
\*------------------------------------*/
.style-group {
  margin: 0 0 100px;
  padding: 0 20px; }
  .style-group .title {
    border-bottom: solid 1px #000000;
    color: #3498db;
    margin: 20px 0;
    padding: 0 0 5px; }
  .style-group .instructions {
    -webkit-box-shadow: inset 0 0 8px #000000;
    box-shadow: inset 0 0 8px #000000;
    background: #FFFFFF;
    font-size: 1.25rem;
    margin: 0 0 20px;
    padding: 15px; }
  .style-group .swatch {
    text-align: center; }
    .style-group .swatch .swatch-color {
      border: solid 1px #000000;
      height: 100px;
      margin: 0 auto 5px;
      width: 100px; }
    .style-group .swatch span {
      display: block; }
  .style-group .swatch-wrap,
  .style-group .button-wrap,
  .style-group .link-wrap,
  .style-group .icon-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    justify-content: space-between; }
    .style-group .swatch-wrap.start,
    .style-group .button-wrap.start,
    .style-group .link-wrap.start,
    .style-group .icon-wrap.start {
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      -webkit-justify-content: flex-start;
      -moz-justify-content: flex-start;
      justify-content: flex-start; }
    .style-group .swatch-wrap.baseline,
    .style-group .button-wrap.baseline,
    .style-group .link-wrap.baseline,
    .style-group .icon-wrap.baseline {
      -webkit-box-align: baseline;
      -ms-flex-align: baseline;
      -webkit-align-items: baseline;
      -moz-align-items: baseline;
      align-items: baseline; }
  .style-group .button-container {
    width: 215px; }
    .style-group .button-container span {
      display: block;
      margin: 5px 0 0; }
  .style-group .link-container,
  .style-group .icon-container {
    width: 125px; }
    .style-group .link-container span,
    .style-group .icon-container span {
      display: block;
      margin: 5px 0 0; }

/*# sourceMappingURL=main.css.map */
