/*------------------------------------*\
              ¡GENERAL
\*------------------------------------*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    @include flexbox();
    @include flex-direction(column);
    background: color(neutral-0);
    font-family: -apple-sytem,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
}

.bs-content {
    @include flex(1);
    position: relative;
}




/*------------------------------------*\
                ¡HEADER
\*------------------------------------*/

header {
    height: config(header);
}



/*------------------------------------*\
                ¡FOOTER
\*------------------------------------*/

footer {
    height: config(footer);
}
