/********************
¡MIXINS
********************/

@mixin gridMachine($numPerRow, $margin) {
    width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
    &:nth-child(n) {
        margin-bottom: $margin;
        margin-right: $margin;
    }
    &:nth-child(#{$numPerRow}n) {
        margin-right: 0;
        margin-bottom: 0;
    }
}


@mixin animation($str) {
     -webkit-animation: #{$str};
        -moz-animation: #{$str};
         -ms-animation: #{$str};
          -o-animation: #{$str};
             animation: #{$str};
}

@mixin borderBox() {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

@mixin transition($str) {
    -webkit-transition: #{$str};
       -moz-transition: #{$str};
        -ms-transition: #{$str};
         -o-transition: #{$str};
            transition: #{$str};
}

@mixin transform($str) {
    -webkit-transform: #{$str};
    -moz-transform: #{$str};
    -ms-transform: #{$str};
    -o-transform: #{$str};
    transform: #{$str};
}

@mixin transformOrigin($str) {
    -webkit-transform-origin: #{$str};
    -moz-transform-origin: #{$str};
    -ms-transform-origin: #{$str};
    -o-transform-origin: #{$str};
    transform-origin: #{$str};
}

@mixin boxShadow($str) {
    -webkit-box-shadow: #{$str};
            box-shadow: #{$str};
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin gradient($color-1, $color-2) {
    background-image: -o-linear-gradient(bottom, $color-1 0%, $color-2 100%);
    background-image: -moz-linear-gradient(bottom, $color-1 0%, $color-2 100%);
    background-image: -webkit-linear-gradient(bottom, $color-1 0%, $color-2 100%);
    background-image: -ms-linear-gradient(bottom, $color-1 0%, $color-2 100%);
    background-image: linear-gradient(to bottom, $color-1 0%, $color-2 100%);
    background-repeat: no-repeat;
}

@mixin flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin inline-flex {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
}

@mixin flex-direction($value: row) {
    @if $value == row-reverse {
        -webkit-box-direction: reverse;
        -webkit-box-orient: horizontal;
    } @else if $value == column {
        -webkit-box-direction: normal;
        -webkit-box-orient: vertical;
    } @else if $value == column-reverse {
        -webkit-box-direction: reverse;
        -webkit-box-orient: vertical;
    } @else {
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
    }
    -webkit-flex-direction: $value;
    -moz-flex-direction: $value;
    -ms-flex-direction: $value;
    flex-direction: $value;
}

@mixin flex-wrap($value: nowrap) {
    // No Webkit Box fallback.
    -webkit-flex-wrap: $value;
    -moz-flex-wrap: $value;
    @if $value == nowrap {
        -ms-flex-wrap: none;
    } @else { 
        -ms-flex-wrap: $value; 
    }
    flex-wrap: $value;
}

@mixin flex-flow($values: (row nowrap)) {
    // No Webkit Box fallback.
    -webkit-flex-flow: $values;
    -moz-flex-flow: $values;
    -ms-flex-flow: $values;
    flex-flow: $values;
}

@mixin order($int: 0) {
    -webkit-box-ordinal-group: $int + 1;
    -webkit-order: $int;
    -moz-order: $int;
    -ms-flex-order: $int;
    order: $int;
}

@mixin flex-grow($int: 0) {
    -webkit-box-flex: $int;
    -webkit-flex-grow: $int;
    -moz-flex-grow: $int;
    -ms-flex-positive: $int;
    flex-grow: $int;
}

@mixin flex-shrink($int: 1) {
    -webkit-flex-shrink: $int;
    -moz-flex-shrink: $int;
    -ms-flex-negative: $int;
    flex-shrink: $int;
}

@mixin flex-basis($value: auto) {
    -webkit-flex-basis: $value;
    -moz-flex-basis: $value;
    -ms-flex-preferred-size: $value;
    flex-basis: $value;
}

@mixin flex($fg: 1, $fs: null, $fb: null) {
    
    // Set a variable to be used by box-flex properties
    $fg-boxflex: $fg;

    // Box-Flex only supports a flex-grow value so let's grab the
    // first item in the list and just return that.
    @if type-of($fg) == 'list' {
        $fg-boxflex: nth($fg, 1);
    }

    -webkit-box-flex: $fg-boxflex;
    -webkit-flex: $fg $fs $fb;
    -moz-box-flex: $fg-boxflex;
    -moz-flex: $fg $fs $fb;
    -ms-flex: $fg $fs $fb;
    flex: $fg $fs $fb;
}

@mixin justify-content($value: flex-start) {
    @if $value == flex-start {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
    } @else if $value == flex-end {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
    } @else if $value == space-between {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
    } @else if $value == space-around {
        -ms-flex-pack: distribute;      
    } @else {
        -webkit-box-pack: $value;
        -ms-flex-pack: $value;
    }
    -webkit-justify-content: $value;
    -moz-justify-content: $value;
    justify-content: $value;
}

@mixin align-items($value: stretch) {
    @if $value == flex-start {
        -webkit-box-align: start;
        -ms-flex-align: start;
    } @else if $value == flex-end {
        -webkit-box-align: end;
        -ms-flex-align: end;
    } @else {
        -webkit-box-align: $value;
        -ms-flex-align: $value;
    }
    -webkit-align-items: $value;
    -moz-align-items: $value;
    align-items: $value;
}

@mixin align-self($value: auto) {
    // No Webkit Box Fallback.
    -webkit-align-self: $value;
    -moz-align-self: $value;
    @if $value == flex-start {
        -ms-flex-item-align: start;
    } @else if $value == flex-end {
        -ms-flex-item-align: end;
    } @else {
        -ms-flex-item-align: $value;
    }
    align-self: $value;
}

@mixin align-content($value: stretch) {
    // No Webkit Box Fallback.
    -webkit-align-content: $value;
    -moz-align-content: $value;
    @if $value == flex-start {
        -ms-flex-line-pack: start;
    } @else if $value == flex-end {
        -ms-flex-line-pack: end;
    } @else {
        -ms-flex-line-pack: $value;
    }
    align-content: $value;
}



/********************
¡CLASSES
********************/
.lk-clear:after {
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
}

.lk-squeeze {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    @media screen and (max-width: breakpoint(phone-lg)) {
        padding: 0 10px;
    }
}

.lk-squeeze:after {
    @extend .lk-clear;
}

.show-mobile-inline,
.show-mobile-block{
    display: none !important;
}

.show-mobile-inline {
    @media screen and (max-width: breakpoint(tablet)){
        display: inline-block;
    }
}

.show-mobile-block {
    @media screen and (max-width: breakpoint(tablet)){
        display: block !important;
    }
}

.hide-mobile {
    @media screen and (max-width: breakpoint(phone-lg)){
        display: none;
    }
}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/**
 * Add/remove margins
 */
 
$base-spacing-unit: 20px;
$half-spacing-unit: ($base-spacing-unit / 2);
.push           { margin:       $base-spacing-unit!important; }
.push--top      { margin-top:   $base-spacing-unit!important; }
.push--right    { margin-right: $base-spacing-unit!important; }
.push--bottom   { margin-bottom:$base-spacing-unit!important; }
.push--left     { margin-left:  $base-spacing-unit!important; }
.push--ends     { margin-top:   $base-spacing-unit!important; margin-bottom:$base-spacing-unit!important; }
.push--sides    { margin-right: $base-spacing-unit!important; margin-left:  $base-spacing-unit!important; }

.push-half          { margin:       $half-spacing-unit!important; }
.push-half--top     { margin-top:   $half-spacing-unit!important; }
.push-half--right   { margin-right: $half-spacing-unit!important; }
.push-half--bottom  { margin-bottom:$half-spacing-unit!important; }
.push-half--left    { margin-left:  $half-spacing-unit!important; }
.push-half--ends    { margin-top:   $half-spacing-unit!important; margin-bottom:$half-spacing-unit!important; }
.push-half--sides   { margin-right: $half-spacing-unit!important; margin-left:  $half-spacing-unit!important; }

.flush          { margin:       0!important; }
.flush--top     { margin-top:   0!important; }
.flush--right   { margin-right: 0!important; }
.flush--bottom  { margin-bottom:0!important; }
.flush--left    { margin-left:  0!important; }
.flush--ends    { margin-top:   0!important; margin-bottom:0!important; }
.flush--sides   { margin-right: 0!important; margin-left:  0!important; }

/**
 * Add/remove paddings
 */
.pad           { padding:       $base-spacing-unit!important; }
.pad--top      { padding-top:   $base-spacing-unit!important; }
.pad--right    { padding-right: $base-spacing-unit!important; }
.pad--bottom   { padding-bottom:$base-spacing-unit!important; }
.pad--left     { padding-left:  $base-spacing-unit!important; }
.pad--ends     { padding-top:   $base-spacing-unit!important; padding-bottom:$base-spacing-unit!important; }
.pad--sides    { padding-right: $base-spacing-unit!important; padding-left:  $base-spacing-unit!important; }

.pad-half           { padding:       $half-spacing-unit!important; }
.pad-half--top      { padding-top:   $half-spacing-unit!important; }
.pad-half--right    { padding-right: $half-spacing-unit!important; }
.pad-half--bottom   { padding-bottom:$half-spacing-unit!important; }
.pad-half--left     { padding-left:  $half-spacing-unit!important; }
.pad-half--ends     { padding-top:   $half-spacing-unit!important; padding-bottom:$half-spacing-unit!important; }
.pad-half--sides    { padding-right: $half-spacing-unit!important; padding-left:  $half-spacing-unit!important; }

/**
* Floats  
*/
.none            { float: none !important; }
.pull--right     { float: right !important; }
.pull--left      { float: left !important;  }
.clear           { display: block; float: none; clear: both; }

/**
* Centering elements
*/
.center--vertical   { vertical-align: middle; }
.center--horizontal { margin: 0 auto; display: block; }
.text--center       { text-align: center !important; }
.text--left         { text-align: left !important; }
.text--right        { text-align: right !important; }