$configs: (
	header: 100px,
	footer: 100px,
	sidebar: 300px
);

$colors: (
	main-1: #FFFFFF
);

$breakpoints: (
	phone: 400px,
	phone-lg: 650px,
	tablet: 768px,
	tablet-lg: 991px,
	desktop-lg: 1024px
);

@function config($key) {
	@if map-has-key($configs, $key) {
		@return map-get($configs, $key);
	}
	@warn "Unknown #{$key} in configs map";
	@return null;
}

@function color($key) {
	@if map-has-key($colors, $key) {
		@return map-get($colors, $key);
	}
	@warn "Unknown #{$key} in colors map";
	@return null;
}

@function breakpoint($key) {
	@if map-has-key($breakpoints, $key) {
		@return map-get($breakpoints, $key);
	}
	@warn "Unknown #{$key} in breakpoints map";
	@return null;
}