$configs: (
	header: 100px,
	footer: 100px,
	sidebar: 300px
);

$colors: (
	neutral-0: #FFFFFF,
	neutral-1: #000000,
	color-1: #3498db,
);

$breakpoints: (
	phone: 399px,
	phone-lg: 649px,
	tablet: 767px,
	tablet-lg: 991px,
	desktop-lg: 1023px
);

@function config($key) {
	@if map-has-key($configs, $key) {
		@return map-get($configs, $key);
	}
	@warn "Unknown #{$key} in configs map";
	@return null;
}

@function color($key) {
	@if map-has-key($colors, $key) {
		@return map-get($colors, $key);
	}
	@warn "Unknown #{$key} in colors map";
	@return null;
}

@function breakpoint($key) {
	@if map-has-key($breakpoints, $key) {
		@return map-get($breakpoints, $key);
	}
	@warn "Unknown #{$key} in breakpoints map";
	@return null;
}
