/*------------------------------------*\
              ¡GENERAL
\*------------------------------------*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: color(neutral-0);
    font-family: -apple-sytem,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
}

.bs-app {
    min-height: 100vh;
}

.bs-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    position: relative;
}

.bs-content {
    flex: 1 0 auto;
    position: relative;
}




/*------------------------------------*\
                ¡HEADER
\*------------------------------------*/

header {
    height: config(header);
}



/*------------------------------------*\
                ¡FOOTER
\*------------------------------------*/

footer {
    height: config(footer);
}
