/********************
¡MIXINS
********************/

@mixin gridMachine($numPerRow, $margin) {
    width: ((100% - (($numPerRow - 1) * $margin)) / $numPerRow);
    &:nth-child(n) {
        margin-bottom: $margin;
        margin-right: $margin;
    }
    &:nth-child(#{$numPerRow}n) {
        margin-right: 0;
    }
}





/********************
¡CLASSES
********************/
.bs-clear:after {
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
}

.bs-squeeze {
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    @media screen and (max-width: breakpoint(phone-lg)) {
        padding: 0 10px;
    }
}

.bs-squeeze:after {
    @extend .bs-clear;
}


/**
 * Add/remove margins
 */

$base-spacing-unit: 20px;
$half-spacing-unit: ($base-spacing-unit / 2);
.push           { margin:       $base-spacing-unit!important; }
.push--top      { margin-top:   $base-spacing-unit!important; }
.push--right    { margin-right: $base-spacing-unit!important; }
.push--bottom   { margin-bottom:$base-spacing-unit!important; }
.push--left     { margin-left:  $base-spacing-unit!important; }
.push--ends     { margin-top:   $base-spacing-unit!important; margin-bottom:$base-spacing-unit!important; }
.push--sides    { margin-right: $base-spacing-unit!important; margin-left:  $base-spacing-unit!important; }

.push-half          { margin:       $half-spacing-unit!important; }
.push-half--top     { margin-top:   $half-spacing-unit!important; }
.push-half--right   { margin-right: $half-spacing-unit!important; }
.push-half--bottom  { margin-bottom:$half-spacing-unit!important; }
.push-half--left    { margin-left:  $half-spacing-unit!important; }
.push-half--ends    { margin-top:   $half-spacing-unit!important; margin-bottom:$half-spacing-unit!important; }
.push-half--sides   { margin-right: $half-spacing-unit!important; margin-left:  $half-spacing-unit!important; }

.flush          { margin:       0!important; }
.flush--top     { margin-top:   0!important; }
.flush--right   { margin-right: 0!important; }
.flush--bottom  { margin-bottom:0!important; }
.flush--left    { margin-left:  0!important; }
.flush--ends    { margin-top:   0!important; margin-bottom:0!important; }
.flush--sides   { margin-right: 0!important; margin-left:  0!important; }

/**
 * Add/remove paddings
 */
.pad           { padding:       $base-spacing-unit!important; }
.pad--top      { padding-top:   $base-spacing-unit!important; }
.pad--right    { padding-right: $base-spacing-unit!important; }
.pad--bottom   { padding-bottom:$base-spacing-unit!important; }
.pad--left     { padding-left:  $base-spacing-unit!important; }
.pad--ends     { padding-top:   $base-spacing-unit!important; padding-bottom:$base-spacing-unit!important; }
.pad--sides    { padding-right: $base-spacing-unit!important; padding-left:  $base-spacing-unit!important; }

.pad-half           { padding:       $half-spacing-unit!important; }
.pad-half--top      { padding-top:   $half-spacing-unit!important; }
.pad-half--right    { padding-right: $half-spacing-unit!important; }
.pad-half--bottom   { padding-bottom:$half-spacing-unit!important; }
.pad-half--left     { padding-left:  $half-spacing-unit!important; }
.pad-half--ends     { padding-top:   $half-spacing-unit!important; padding-bottom:$half-spacing-unit!important; }
.pad-half--sides    { padding-right: $half-spacing-unit!important; padding-left:  $half-spacing-unit!important; }

/**
* Floats
*/
.none            { float: none !important; }
.pull--right     { float: right !important; }
.pull--left      { float: left !important;  }
.clear           { display: block; float: none; clear: both; }

/**
* Centering elements
*/
.center--vertical   { vertical-align: middle; }
.center--horizontal { margin: 0 auto; display: block; }
.text--center       { text-align: center !important; }
.text--left         { text-align: left !important; }
.text--right        { text-align: right !important; }
